@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
:root{
    --primary-color: #054C73;
    --bgcolor-light:#DFE9F4;
    --bg-color-section:#F2F5FF;
    --white-info:#fff;
    --lorem-content:#606060;
}
body{
    width: 100%;
}
.header-container{
    width: 100%;
    position: fixed;   
    z-index: 1;
   border-bottom: 1px solid var(--primary-color);
    backdrop-filter:blur(10px);
}
.header{
    height: 70px;
    padding: 0 5rem; 
}
.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoname{
    font-size: 1.5rem;
    color:var(--primary-color) ;
    font-weight: 600;
    pointer-events: none;
}
.navlist nav{
    display: flex;
    list-style: none;
}
.navlist nav li a{
    margin-left: 3rem;
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    color: var(--primary-color);
}
.navlist nav li a::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.2rem;
    width: 3.5rem;
    overflow: hidden;
    transform: scale(0);
    transition: 0.5s ease;
    transform-origin: left;
    background-color: var(--primary-color);
    color: var(--primary-color);
}
.navlist nav li a:hover::after{
    transform: scale(1);
    
}
/*================Hero Section ================*/

.hero-main{
    width: 100%;
}
.hero-img{
    position: relative;
    width: 100%;
}
.hero-img img{
    width: 100%;
    background-size: cover;
}
.hero-card-main{
    position: absolute;
    width: 35%;
    background:var(--bgcolor-light);
    top:20%;
    right: 5%;
    border-radius: 10px;
}
.hero-card{
    margin: 2rem 3rem;
}
.hero-card h6{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}
.hero-card .title{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}
.hero-card .card-content{
    font-size: 0.8rem;
    color:var(--lorem-content);
    margin-bottom: 0.5rem;
}
.hero-card .card-btn{
    background-color: var(--primary-color);
    width: 50%;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color:var(--white-info);
    border: none;
    font-weight: 600;
    border-radius: 40px;
}

/****Authentic icon Display ****/

.authentic-icon-main{
    width: 100%;
    padding: 0 5rem;
    background-color: var(--bg-color-section);
}
.authentic-icon{
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    height: 100px;
}
.authentic-icon .icon-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.icon-card .icon span{
    margin-top: 1rem;
    font-size: 2.5rem;
}
.icon-card .icon-name .name{
    font-size:1.1rem;
}
.icon-card .icon-name .msg{
    font-size: 0.8rem;
    color: var(--lorem-content);
}
/*=========Inspiration Section=============*/
.inspiration-section-main{
    width: 100%;
}
.inspiration-section{
    padding: 3rem 5rem;
}
.section-heading{
    text-align: center;
    font-size: 2.3rem;
    color: var(--primary-color);
}
.section-heading p{
    font-size: 0.8rem;
    color: var(--lorem-content);
    letter-spacing: 2px;
}
.inspiration-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.inspiration-card .card{
      width: 100%;
}
.inspiration-card .card img{
    width: 100%;
    background-size:cover;
}
/*+=================Browse the range sectin============*/
.browse-section-main{
    width: 100%;
    border-bottom: 0.5px solid rgb(211, 211, 211); 
}
.browse-section{
    padding: 3rem 5rem;
}
.card-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
}
.card-section .card{
    width: 30%;
    text-align: center;
}
.card-section .card p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
.card-section .card img{
    width: 100%;
}

/**************How its works section ************************/

.howitswork-section-main{
    width: 100%;
}
.howitswork-section{
    width: 100%;
    padding: 3rem 5rem 6rem;
}
.howitswork-card-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
.howitswork-card-section .howitswork-card{
    width: 30%;
}
.howitswork-card img{
    width: 100%;
}
.howitswork-card p{
    text-align: center;
    font-size: 0.8rem;
    color: var(--lorem-content);
}

/******************email list section *******************/

.email-list-section-main{
    width: 100%;
    background: var(--bg-color-section);
}
.email-list-section{
    padding: 3rem 5rem;
}
.email-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.email-input{
    display: flex;
    justify-content: center;
    width: 60%;
}
.email-input input{
    padding: 0.5rem;
    width: 70%;
    outline: none;
    border: 2px solid var(--primary-color);
}
.email-input button{
        width: 20%;
    padding:0.5rem;
    background-color: var(--primary-color);
    color: var(--white-info);
    border: 2px solid var(--primary-color);
    transition: 0.5s ease;
}
.email-input button:hover{
    color: var(--primary-color);
    background-color: var(--white-info);

}
/*****************footer***********************/
footer{
    width: 100%;
    background-color: var(--primary-color);
    padding: 3rem 2rem;
}
.footer-content{
    display: flex;
    align-items: center;
    gap: 15rem;
}
.footer-left-part{
    color: var(--white-info);
}
.followus-part p{
    font-size: 1.2rem;
    font-weight:600 ;
    margin-top: 1rem;
}
.followus-icon{
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
}
.followus-icon .icon{
    display: inline-flex;
    background: var(--white-info);
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-right: 1rem;
    border: 2px solid var(--white-info);
    color: var(--primary-color);
    transition: 0.5s ease;
}
.followus-icon .icon:hover{
    background: var(--primary-color);
    border: 2px solid var(--white-info);
    box-shadow: 2px 3px 5px  var(--bg-color-section);
    color: var(--white-info);
}
.footer-logo h2{
    font-size: 2rem;
    margin-bottom: 0.7rem;
}
.footer-logo p{
    font-size: 0.8rem;
}
.footer-right-part{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-right-part .footer-list{
    color: var(--white-info);
    font-size: 0.9rem
}
.footer-list h2{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.footer-list li{
    list-style: none;
    margin-top: 0.5rem;
}
.copyright{
    width: 100%;
    background-color: var(--bg-color-section);
}
.copyright-msg{
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem;
    color: var(--primary-color);
    font-weight: 500;
}